{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

<style>
	body {
		background: url("https://static1.squarespace.com/static/57d9931c579fb33ef19a899e/t/586ac9b4e58c624be9e99368/1483393474269/");
		background-size: cover;
		font-family: cursive;
		color: black;
	}

	h2,
	h3 {
		margin-top: 0;
	}

	form>input {
		border-color: rgba(49, 150, 197, 0.623);
		border-radius: 0.6em;
		box-sizing: border-box;
		appearance: none;
		background-color: transparent;
		align-self: center;
		font-size: 1.6rem;
		font-weight: 700;
		letter-spacing: 1.5px;
		line-height: 1;
		margin: 20px;
		padding: 1.5em 2.5em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		box-shadow: 0 0 40px 40px rgb(0, 76, 255) inset, 0 0 0 0 lightblue;
		transition: all 150ms ease-in-out;
		width: 250px;
		float: left;
		margin-left: 85px; 
	}

	form>input:hover {
		box-shadow: 0 0 10px 0 rgb(114, 166, 235) inset, 0 0 10px 4px rgb(101, 167, 230);
	}



	#results {
		float: right;
		margin-right: 110px;
		margin-top: 110px;
		padding: 40px;
		padding-bottom: 30px;
		border: 1px solid;
		border-radius: 10px;
		color: white;
		font-size: 26px;
		align-self: center;
		text-align: center;
		background-image: linear-gradient(114deg, rgba(163, 165, 34, 0.467) 38%, rgba(230, 242, 118, 0.5) 94%),linear-gradient(121deg, rgba(34, 88, 127, 0.11388538931256476) 63%, rgba(255, 210, 204, 0.5) 22%),linear-gradient(157deg, rgba(11, 116, 137, 0.768402539027412) 70%, rgba(226, 242, 133, 0.5) 174%),linear-gradient(16deg, rgba(134, 191, 28, 0.16) 3%, rgba(244, 171, 168, 0.5) 42%); background-blend-mode: normal,multiply,color,overlay;
	}

	.sec1{
		background-image: linear-gradient(28deg, rgba(34, 6, 158, 0.12715414920585633) 20%, rgba(234, 117, 132, 0.5) 166%),linear-gradient(149deg, rgba(66, 67, 70, 0.808) 64%, rgba(252, 210, 194, 0.5) 134%),linear-gradient(57deg, rgba(67, 177, 224, 0.051194046726124154) 23%, rgba(249, 189, 204, 0.5) 73%),linear-gradient(175deg, rgba(1, 55, 163, 0.6251219656362715) 47%, rgba(247, 165, 194, 0.5) 161%); background-blend-mode: overlay,soft-light,multiply,soft-light;	
	}

	#hiddenForm{
		background-color: rgb(56, 56, 56);
	}

	#alerts{
		margin-top: 30px;
	}

</style>
{% endblock %}
{% block content%}
{% if show %}
<div class="alert alert-success">
	<strong>Success!</strong> Victim added.
</div>
{% endif %}


<div class="sec1" style="padding: 20px; border-radius: 20px; color: white	;">

<div id="results" class="bb" data-aos="zoom-in-left" data-aos-duration="2000">
	Your captured image <br>will appear here <br> <i class="fa fa-user fa-3x" style="margin-top: 10px;"></i></div>

<div style="margin-left: 60px;" data-aos="zoom-out" data-aos-duration="2000">
	<h1>Take Snapshot</h1>
	<h3 style="border: 2px dashed rgb(132, 197, 240); border-radius: 15px; width: 130px; padding: 10px;">320x240</h3> <br>
	<div id="my_camera"></div> <br>
</div>






<!-- First, include the Webcam.js JavaScript Library -->
<script type="text/javascript" src="{% static "js/webcam.js" %}"></script>
<!-- Configure a few settings and attach camera -->

<!-- A button for taking snaps -->
<div align="center">
	<form>
		<input type=button value="Take Snapshot" onClick="take_snapshot()" data-aos="fade-up" data-aos-duration="2500">
	</form>
	</div>
</div>
	<div id="alerts"> </div>
	<div class="col-md-12 col-sm-12 col-xs-12" id='hiddenForm' style="display: none;">
		<div class="x_panel">
			<div class="x_title">
				<h2> Victim Details</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<!--li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li-->
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">

				<form class="form-horizontal form-label-left" method="post" action='/saveVictim/'>
					{% csrf_token %}
					<div class="form-group">
						<div class="col-md-offset-3 col-md-6">
							<div class="input-group">
								<input type="text" class="form-control" id='name' name='name'
									placeholder="Name"><br /><br />
								<input type="text" class="form-control" id='age' name='age'
									placeholder="Age"><br /><br />
								<input type="text" class="form-control" id='gender' name='gender'
									placeholder="Gender"><br /><br />
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary" style="margin-left: 40px; border-radius: 18px; 
									padding: 10px 20px; font-size: 20px;">
										GO!
									</button>
								</span>
							</div>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
<!-- Code to handle taking the snapshot and displaying it locally -->

<!-- Code to handle taking the snapshot and displaying it locally -->
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/webcam.js" %}"></script>

<!-- Configure a few settings and attach camera -->
<script language="JavaScript">
	Webcam.set({
		width: 320,
		height: 240,
		image_format: 'jpeg',
		jpeg_quality: 90
	});
	Webcam.attach('#my_camera');
</script>
<script language="JavaScript">
	function take_snapshot() {
		// take snapshot and get image data
		Webcam.snap(function (data_uri) {
			// display results in page
			Webcam.upload(data_uri, '/upload/', function (code, text) {
				console.log('code:' + code);
				text = JSON.parse(text);
				if (text["found"] == "True") {
					console.log('text:' + text);
					document.getElementById('alerts').innerHTML =
						'<div class="alert alert-warning" style="color: black;">' +
						'<strong>Relief already handed out!</strong>' +
						'</div>'
				}
				if (text["found"] == "False") {
					console.log('text:' + text);
					document.getElementById('alerts').innerHTML =
						'<strong>Face not found!</strong>' +
						'</div>';
					document.getElementById('hiddenForm').style.display = 'block';
				}
				if (text["found"] == "unknown") {
					console.log('text:' + text);
					document.getElementById('alerts').innerHTML =
						'<div class="alert alert-success" style="color: black;">' +
						'<strong>Hand out relief!</strong>' +
						'</div>';
					document.getElementById('hiddenForm').style.display = 'block';
				}
			});
			document.getElementById('results').innerHTML =
				'<h2>Here is your image:</h2>' +
				'<img src="' + data_uri + '"/>';
		});
	}
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>

<script>
	AOS.init();
</script>

{% endblock %}